@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

@import "reset.css";
@import "variables.css";

/* screens */
@import "screens/header.css";
@import "screens/footer.css";
@import "screens/main.css";

/* components */
@import "components/alt-global.css";
@import "components/global.css";
@import "components/reuse.css";
@import "components/sprite.css";

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

a::after {
  content: "";
  display: block;
  background-image: url(../images/sp_main.png);
  background-size: 434px 414px;
}
/* 콘텐츠는 숨기면서 스크린 리더는 정상적으로 웹을 읽을 수 있도록 blind 속성 적용 */
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

/* 가상요소 이미지 테두리 설정 */
.thumb-bd {
  display: block;
  position: relative;
}
.thumb-bd::before {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 1px solid #000;
  opacity: 0.1;
}

.font-bold {
  font-weight: bold;
}

.vertical-line,
.slash {
  opacity: 0.2;
}
