@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

@import "reset.css";
@import "variables.css";

/* screens */
@import "screens/header.css";
@import "screens/footer.css";
@import "screens/main.css";

/* components */
@import "components/alt-global.css";
@import "components/global.css";
@import "components/reuse.css";

* {
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

img {
  width: 20px;
  height: 20px;
}
