:root {
  --main-border: 1px solid rgba(0, 0, 0, 0.1);
  --naver-main-color: rgb(7, 200, 93);
  --naver-main-color-light: rgb(50, 209, 121);
  --box-shadow-hover: 0px 1px 1px 1px rgba(0, 0, 0, 0.1);
}
