footer {
  height: 460px;
  width: 100%;
  background-color: #f5f6f7;
}
#footer {
  height: 100%;
  width: 1280px;
  margin: auto;
}

.credit-ad {
  display: flex;
  justify-content: space-evenly;
  padding: 30px 0;
  border-bottom: var(--main-border);
}
.credit-ad__thumbnail {
  width: 160px;
  height: 100px;
  border-radius: 10px;
}

.credit-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--main-border);
  height: 60px;
}
.credit-header__column > h3 {
  font-size: 14px;
}
.credit-header__column:last-child {
  display: flex;
  align-items: center;
}
.credit-header__angle-right {
  margin-left: 10px;
}

.credit-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: var(--main-border);
  height: 120px;
}
.credit-main__expert {
  display: flex;
  font-size: 14px;
  padding: 8px 0;
}
.credit-main__title {
  width: 110px;
}
.credit-main__subtitle {
  display: flex;
}
.credit-main__subtitle * {
  margin-right: 17px;
}
.credit-main__column {
  display: flex;
}
#whale-browser {
  height: 48px;
  width: 48px;
  margin-right: 60px;
}
#project-flower {
  height: 48px;
  width: 48px;
}

.fnb {
  font-size: 14px;
  display: flex;
  justify-content: center;
}
.fnb__lists {
  display: flex;
  margin-top: 25px;
}
.fnb__lists * {
  margin-right: 17px;
}
