main {
  background: #fdfdfe;
}
#main {
  width: 1280px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding-bottom: 40px;
}
.group-container {
  background-color: skyblue;
  border: var(--main-border);
  border-radius: 10px;
  margin-bottom: 15px;
}

.group-left {
  width: 830px;
}
.head-ad {
  height: 134px;
  background-image: url("https://ssl.pstatic.net/melona/libs/1469/1469832/ec8753ac2d96005fee99_20231018101036151.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.news-stand {
  height: 427px;
}
.news-stand__contents {
  padding: var(--box-padding);
  display: flex;
  flex-direction: column;
}
.news-stand__nb-top-lists {
  font-size: 18px;
  display: flex;
}
.news-stand__nb-top-lists * {
  margin-right: 12px;
}
.news-stand__issue {
  background-color: var(--container-color);
  width: 790px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--main-border);
  border-radius: 5px;
  padding: 0 20px;
}
.news-stand__nb-middle {
  display: flex;
  align-items: center;
}
.news-stand__nb-middle * {
  margin-right: 5px;
}
.news-stand__archive {
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: repeat(6, 1fr);
  margin-top: 20px;
}
.news-stand__co {
  border: var(--main-border);
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.news-stand__co-logo {
  height: 18px;
}

.news-stand__index {
  position: relative;
  border-top: var(--main-border);
}
.news-stand__move {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: var(--main-border);
  display: flex;
  justify-content: center;
  align-items: center;
}
.move-prev {
  position: absolute;
  top: 12px;
  left: 300px;
}
.move-next {
  position: absolute;
  top: 12px;
  right: 300px;
}
.news-stand__index--text {
  position: absolute;
  font-size: 15px;
  top: 22px;
  left: 357px;
}
.news-stand__index--text > span:first-child {
  color: blue;
}
.news-stand__show--list {
  position: absolute;
  top: 22px;
  right: 60px;
}
.news-stand__show--gallery {
  position: absolute;
  top: 22px;
  right: 24px;
}
.shopping {
  height: 562px;
}
.shopping__contents {
  display: flex;
  flex-direction: column;
  padding: var(--box-padding);
}
.shopping__nb-top-lists {
  display: flex;
  font-size: 18px;
}
.shopping__nb-top-lists * {
  margin-right: 12px;
}
.shopping__issue {
  display: flex;
  justify-content: space-between;
}
.shopping__issue-left {
  width: 667px;
  height: 50px;
  display: flex;
  align-items: center;
  background-color: var(--container-color);
  border: var(--main-border);
  border-radius: 5px;
  padding: 0 20px;
}
.shopping__nb-middle {
  display: flex;
}
.shopping__nb-middle * {
  margin-right: 6px;
}
.shopping__nb-middle > img {
  height: 13px;
}
.shopping__issue-right {
  width: 100px;
  height: 50px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.shopping__issue-right--angle {
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: var(--main-border);
  border-radius: 3px;
}
.shopping__issue-right > span:nth-child(2) {
  padding-right: 10px;
}
.shopping__archive {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
}
.shopping__archive--items {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.shopping__archive--img {
  width: 95px;
  height: 125px;
}
.shopping__archive-aside {
  display: flex;
  flex-direction: column;
}
.shopping__mall {
  width: 250px;
  height: 88px;
  background-color: var(--container-color);
  border: var(--main-border);
  border-radius: 3px;
  margin-bottom: 15px;

  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.shopping__mall--names {
  font-size: 14px;
}

.shopping__orders {
  width: 250px;
  height: 70px;
  background-color: var(--container-color);
  border: var(--main-border);
  border-radius: 3px;
  margin-bottom: 15px;

  display: flex;
}
.shopping__order {
  width: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.shopping__order h3 {
  font-size: 14px;
}
.shopping__order-icon {
  border-radius: 50%;
  border: var(--main-border);
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.shopping__ad--thumbnail {
  height: 145px;
  width: 250px;
  border: var(--main-border);
  border-radius: 5px;
}
.shopping__ad--title {
  padding: 5px;
  font-size: 15px;
}

.shopping__index {
  position: relative;
  border-top: var(--main-border);
}
.shopping__move {
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: var(--main-border);
  display: flex;
  justify-content: center;
  align-items: center;
}
.move-prev {
  position: absolute;
  top: 12px;
  left: 300px;
}
.move-next {
  position: absolute;
  top: 12px;
  right: 300px;
}
.shopping__index--text {
  position: absolute;
  font-size: 15px;
  top: 22px;
  left: 342px;
}
.shopping__index--text > span:first-child {
  color: purple;
}
.shopping__ad--btn {
  position: absolute;
  top: 22px;
  right: 30px;
}
.shopping__btn-rect {
  border: var(--main-border);
  width: 32px;
  height: 20px;
  border-radius: 4px;
}
.shopping__btn-rect span {
  opacity: 0.7;
  padding-left: 5px;
}

.toon {
  height: 1270px;
}
.toon__contents {
  padding: var(--box-padding);
  display: flex;
  flex-direction: column;
}
.toon__nb-top-lists {
  font-size: 18px;
  display: flex;
}
.toon__nb-top-lists * {
  margin-right: 12px;
}
.toon__issue {
  background-color: var(--container-color);
  width: 790px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--main-border);
  border-radius: 5px;
  padding: 0 20px;
}
.toon__nb-middle {
  display: flex;
  align-items: center;
}
.toon__nb-middle * {
  margin-right: 5px;
}

.toon__index {
  position: relative;
  border-top: var(--main-border);
}
.toon__index--text {
  position: absolute;
  font-size: 15px;
  top: 22px;
  left: 342px;
}
.toon__index--text > span:last-child {
  color: var(--naver-main-color);
}
.toon__day-nb,
.toon__week-nb {
  padding-top: 20px;
}
.toon__day-nb--lists {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.toon__day-nb--lists li:last-child {
  display: flex;
  align-items: center;
  opacity: 0.8;
  font-size: 0.8rem;
}
.toon__week-nb--lists {
  display: flex;
  align-items: center;
}
.toon__week-nb--lists li {
  margin-right: 10px;
}
.toon__highlight--li {
  background-color: var(--naver-main-color);
  color: white;
  width: 46px;
  height: 28px;
  border-radius: 15px;
  line-height: 28px;
  text-align: center;
  margin: 0 10px;
}
.toon__week-nb--lists li:last-child {
  opacity: 0.8;
}
.toon__day-archive {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 14px 20px;
  margin-top: 20px;
}
.toon__day--img,
.toon__week--img {
  width: 110px;
  height: 140px;
}
.toon__new-icon,
.toon__age-limit-icon {
  position: absolute;
  top: 7px;
  left: 5px;
}

.toon__ad {
  background-color: var(--container-color);
  width: 790px;
  height: 50px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: var(--main-border);
  border-radius: 5px;
  padding: 0 20px;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
}
.toon__ad-nb--lists {
  display: flex;
  align-items: center;
}
.toon__ad-nb--lists * {
  margin-right: 10px;
  font-size: 0.8rem;
}
.toon__ad-nb--lists li:last-child {
  display: flex;
  align-items: center;
  opacity: 0.8;
}
.toon__ad--thumbnail {
  width: 52px;
  height: 34px;
  border-radius: 7px;
}
.toon__ad-btn-rect {
  position: absolute;
  top: 0;
  right: 0;

  font-size: 0.7rem;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: var(--box-shadow-hover);
  padding: 2px 5px;
}
.toon__ad-btn-rect span {
  opacity: 0.6;
}
.toon__week-archive,
.toon__series-archive {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(1, 1fr);
  gap: 14px 20px;
  margin-top: 20px;
}
.toon__series-nb {
  padding-top: 20px;
}
.toon__series--img {
  width: 110px;
  height: 155px;
}

.group-right {
  width: 420px;
}
.user-info {
  height: 165px;
  padding: var(--box-padding);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.user-info__title {
  display: flex;
  justify-content: center;
}
.user-info__login {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 55px;
  background: var(--naver-main-color);
  border: 1px solid var(--main-border);
  border-radius: 10px;
  color: white;
}
.user-info__login-link {
  padding-right: 10px;
}
.user-info__nb {
  font-size: 14px;
  opacity: 0.8;
  display: flex;
  justify-content: center;
}
.user-info__nb-lists {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.user-info__nb-lists > li {
  display: flex;
  align-items: flex-end;
}
.user-info__nb-lists > li,
.user-info__nb-lists > span {
  margin-right: 14px;
}

.side-ad {
  height: 240px;
  background-image: url("https://ssl.pstatic.net/melona/libs/1472/1472088/52712944a95db145041e_20230620140922766.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.weather {
  height: 237px;
  padding: var(--box-padding);
}
.weather__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: var(--main-border);
}
.weather__header--text {
  display: flex;
  align-items: center;
}
.weather__header--title {
  margin-right: 10px;
}
.weather__header--subtitle {
  width: 82px;
  height: 26px;
  border: var(--main-border);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.weather__header--subtitle > h3 {
  font-size: 13px;
}
.weather__header--local > h2 {
  opacity: 0.7;
}
.weather__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--main-border);
}

.stock {
  height: 234px;
  padding: var(--box-padding);
}
.stock__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 10px;
  border-bottom: var(--main-border);
}
.stock__header--text {
  display: flex;
  align-items: center;
}
.stock__header--title {
  margin-right: 10px;
}
.stock__header--subtitle {
  width: 82px;
  height: 26px;
  border: var(--main-border);
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.stock__header--subtitle > h3 {
  font-size: 13px;
}
.stock__header--local {
  display: flex;
  align-items: center;
}
.stock__header--local > h2 {
  opacity: 0.7;
}
.stock__contents {
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: var(--main-border);
}

.box-nine {
  height: 810px;
}
.browser-ad {
  height: 85px;
  padding: var(--box-padding);
}
.browser__thumbnail {
  width: 42px;
  height: 42px;
}
