main {
  background: #fdfdfe;
  min-height: 100px;
}
#main {
  width: 1280px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(49, 30px);
  gap: 15px 30px;
  padding-bottom: 20px;
}

/* side 부분 빈 공간은 side-bar 적용 */
.main-container {
  border: var(--main-border);
  border-radius: 10px;
}

.main-ad {
  grid-column: 1 / 3;
  grid-row: 1 / 4;

  background-image: url("https://ssl.pstatic.net/melona/libs/1469/1469832/ec8753ac2d96005fee99_20231018101036151.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  cursor: pointer;
}

.login {
  grid-column: 3 / 4;
  grid-row: 1 / 5;
}
.login-component {
  height: 33%;
  margin: auto;

  display: flex;
  justify-content: center;
  align-items: center;
}
.login-btn {
  width: 380px;
  height: 60px;
  background: var(--naver-main-color);
  border: 1px solid var(--main-border);
  border-radius: 10px;
  font-size: 20px;
  color: white;
  cursor: pointer;
}
.login-btn:hover {
  background: rgba(6, 155, 73);
}
.login-btn > span:first-child {
  font-weight: bold;
  margin-right: 20px;
}

/* news-archive와 shopping-archive 구성이 비슷하므로 css를 묶어 관리한다. */
.news-archive {
  grid-column: 1 / 3;
  grid-row: 4 / 15;
  padding: 20px;
}
.shopping-archive {
  grid-column: 1 / 3;
  grid-row: 15 / 29;
  padding: 20px;
}
.news-archive__title,
.shopping-archive__title {
  display: flex;
  margin-bottom: 20px;
}
.news-archive__head-topic,
.shopping-archive__head-topic {
  background-color: #f5f7f8;
  padding: 20px;
  border-radius: 10px;

  display: flex;
  justify-content: space-between;
}
.news-archive__articles {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  row-gap: 20px;

  margin-top: 20px;
  padding-bottom: 50px;
  border-bottom: var(--main-border);
}
.article-one {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
.article-two {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}
.article-three {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}
.article-four {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}
/* div 안에 span 수직 수평 정렬하기의 방법! */
.news-archive__page-index {
  display: flex;
  width: 40%;
  height: 77px;
  margin: auto;
  justify-content: center;
}
.news-archive__page-index > span,
.news-archive__page-index > i {
  margin: auto;
}
.news-archive__page-index > i {
  padding: 15px 18px;
  border: var(--main-border);
  border-radius: 50%;
}

.side-ad {
  grid-column: 3 / 4;
  grid-row: 5 / 11;

  padding: 20px;
}
.side-ad__title,
.side-ad__info {
  display: flex;
  justify-content: space-between;
}
.side-ad__archive {
  width: 100%;
  height: 80%;
}

.shopping-archive__articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(10, 33.5px);
  gap: 10px 20px;
  background-color: tomato;
}
.article-container-one {
  grid-column: 1 / 3;
  grid-row: 1 / 6;
}
.article-container-two {
  grid-column: 1 / 3;
  grid-row: 6 / 11;
}
.article-container-three {
  grid-column: 3 / 4;
  grid-row: 1 / 4;
}
.article-container-four {
  grid-column: 3 / 4;
  grid-row: 4 / 6;
}
.article-container-five {
  grid-column: 3 / 4;
  grid-row: 6 / 11;
}

.weather {
  grid-column: 3 / 4;
  grid-row: 11 / 17;
  padding: 20px;
}
.weather-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 15px;
  border-bottom: var(--main-border);
}
.weather-title {
  display: flex;
  align-items: center;
}
.weather-title > div {
  font-size: 12px;
  padding: 10px 5px;
  margin-left: 10px;
  border: var(--main-border);
  border-radius: 20px;
}
.weather-image > img {
  width: 100%;
  height: 100%;
}

.stocks {
  grid-column: 3 / 4;
  grid-row: 17 / 23;
  padding: 20px;
}
.stocks-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  padding-bottom: 15px;
  border-bottom: var(--main-border);
}
.stocks-title {
  display: flex;
  align-items: center;
}
.stocks-title > div {
  font-size: 12px;
  padding: 5px;
  margin-left: 10px;
  border: var(--main-border);
  border-radius: 20px;
}
.stocks-image > img {
  width: 100%;
  height: 100%;
}

.box-eight {
  grid-column: 1 / 3;
  grid-row: 29 / 50;
}
.box-nine {
  grid-column: 3 / 4;
  grid-row: 23 / 43;
}
.box-ten {
  grid-column: 3 / 4;
  grid-row: 43 / 45;
}
.box-empty {
  display: none;
}
