.alt-global-component {
  width: 100px;
  height: 170px;
}
.alt-global-component--only-toon {
  width: 110px;
  height: 190px;
  /* 신작 딱지, 청불 딱지용 */
  position: relative;
}
.alt-global-component--only-toon2 {
  width: 110px;
  height: 215px;
  /* 신작 딱지, 청불 딱지용 */
  position: relative;
}
.alt-global-component--only-series {
  width: 110px;
  height: 225px;
  /* 신작 딱지, 청불 딱지용 */
  position: relative;
}
.alt-global-component--only-clip {
  width: 110px;
  height: 220px;
}
.alt-global-component__thumbnail {
  border: var(--main-border);
  border-radius: 5px;
}
.alt-global-component__title {
  font-size: 15px;
  margin-top: 12px;
  opacity: 0.8;
}
.alt-global-component__subtitle,
.alt-global-component__colored-title {
  font-size: 13px;
  margin-top: 10px;
  opacity: 0.7;
}
.alt-global-component__colored-title {
  color: var(--naver-main-color);
}
