.global-component {
  display: flex;
  font-size: 13px;
}
.global-component__column {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.global-component__title--highlight {
  background-color: #9fadb2;
  color: white;
  width: fit-content;
  height: fit-content;
  padding: 3px;
  border-radius: 3px;
}
.global-component__text {
  opacity: 0.8;
}
